
* {
  box-sizing: border-box;
}

body {
  background-color: #C4AEAF;
  padding: 50px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color:white;
  padding: 10px;
  color: #bcb7bf;;
  opacity 0.5;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.container {
  position: relative;
  width: 100%; 
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(197,147,144,255,)
  /* rgb(217, 186, 219); */

  
}

/* .container img {vertical-align: middle;} */

.container .content2 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 98%;
  padding: 40px;
}