body{
  margin: 0%;
  background-color:#C4AEAF;
}

.intro {
    background-color: rgb(244, 244, 244) ;
    color: rgba(0,0,0,.5)!important;
    margin: auto;
    padding: 50px;
    margin: 2%;
  }
  
  .headings {
    color: rgba(0,0,0,.5)!important;
    text-align: center;
    padding-top: 3%;
    font-family: sans-serif;
  
  }
  
  .gallery{
    margin: 20px;
  }

  .container {
    position: relative;
    text-align: center;
  }
  
  /* Bottom right text */
  .text-block {  
    position:relative;
    bottom: 0%;
    background-color: rgba(0,0,0,.5)!important;;
    color: white;
    padding: 30px;
  }
  
  
  .intro {
    background-color: rgb(244, 244, 244) ;
    color: rgba(0,0,0,.5)!important;
    padding: 50px;
    border: 20px;
    margin-right: 2%;
    margin-left: 2%;
    text-align: justify;
  }
  
  
  .headings {
    color: rgba(0,0,0,.5)!important;
    text-align: center;
    padding-top: 3%;
    font-family: sans-serif;
  
  }
  
  .headings2 {
    text-align: center;
    font-family: sans-serif;
  
  }

  .gallcontent{

    background-color: rgb(227, 223, 223) ;
    color: rgba(0,0,0,.5)!important;
    padding: 2px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 20px;

  }
